<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhd.stard">

    <application
        android:name=".common.MHDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StarDWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreenTheme"></activity>

        <activity
            android:name=".activity.TutorialActivity"
            android:theme="@style/FullScreenTheme"></activity> <!-- [START fcm_default_icon] -->
        <activity
            android:name=".activity.RegistTodoActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.RegistScheduleActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <activity
            android:name=".activity.ModifyTodoActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity> <!-- [END fcm_default_channel] -->
        <activity
            android:name=".activity.ModifyScheduleActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>

        <activity
            android:name=".activity.RegistSelfActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.ModifySelfActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.RegistKidsActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.ModifyKidsActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.KidsListActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.OptionAlarmActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.JoinActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.activity.HybridWebActivity"
            android:theme="@style/FullScreenTheme"></activity>
        <activity
            android:name=".webview.activity.HybridWebGuestActivity"
            android:theme="@style/FullScreenTheme"></activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakaoc88e112c6bceda98920c8db73b3e2ac4://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoc88e112c6bceda98920c8db73b3e2ac4" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- <activity -->
        <!-- android:name="com.mhd.elemantary.activity.StartActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"> -->
        <!-- </activity> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mhd.stard"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name=".StarDWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/star_d_widget_info" />
        </receiver>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service android:name="com.mhd.stard.service.FCMService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name="com.mhd.elemantary.service.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANT_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service android:name=".service.FCMJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>